@tailwind base;
@tailwind components;
@tailwind utilities;

.moi{
  clip-path:ellipse(33% 46%);
}
 /*icons*/
 .circle{
   display: inline-block;
   width:20px;
   height:20px;
   margin-right:8px;
   border-radius:50%;
   background-color:darkgray;
 }

 .circle-plain{
  display: inline-block;
  width:20px;
  height:20px;
  margin-right:8px;
  border-radius:50%;
  background-color:gold;
}